* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #181818;
}

.contain_team {
  width: 95%;
  margin: auto;
}

.btnTeam {
  padding: 0.8em 1.5em;
  box-shadow: 0 0 0 3em #b61984 inset;
  border-radius: 50px;
  font-size: 0.9em;
  font-weight: 400;
  color: #ffffff;
  transition: all 0.2s;
}
.btnTeam:hover {
  box-shadow: 0 0 0 0.1em #b61984 inset;
  color: #b61984;
}

.find_right span {
  font-size: 0.8em;
  font-weight: 600;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 80px;
  display: inline-block;
  padding: 1em 5em;
  cursor: pointer;
}

.btnWhite {
  padding: 1.3em 1.5em;
  text-align: center;
  box-shadow: 0 0 0 3em #ffffff inset;
  border-radius: 50px;
  font-size: 0.9em;
  font-weight: 600;
  color: #181818;
  transition: all 0.2s;
}
.btnWhite:hover {
  box-shadow: 0 0 0 0.1em #ffffff inset;
  color: #ffffff;
}

header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.header_contact {
  display: flex;
}
.header_contact .nav-link i {
  color: #181818;
  font-size: 0.8em;
}
.header_contact .nav-link:hover i {
  color: #b61984;
}

.header_content .navbar-nav .nav-item {
  padding-right: 35px;
  transition: all 0.2s;
}
.header_content .navbar-nav .nav-item:hover a {
  color: #b61984;
}
.header_content .navbar-nav .nav-item a {
  font-size: 14px;
  font-weight: 600;
  color: #181818;
}

.teamCarousel {
  background: url(../img/yellow_top_wave_01.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 4em;
  position: relative;
  z-index: 5;
}

.carousel_left h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #b61984;
}
.carousel_left h1 {
  font-size: 3.8rem;
  font-weight: 700;
  color: #181818;
}

.carousel__right img {
  width: 100%;
}

.teamCard {
  position: relative;
  margin-top: -100px;
}
.teamCard img {
  width: 100%;
  height: auto;
}

.card_content {
  padding: 0 15px;
  background: #dcd1f0;
}
.card_content .card {
  text-align: center;
  margin-bottom: 30px;
  border-radius: 10px;
  z-index: 10;
  transition: all 0.2s;
  overflow: hidden;
  width: 100%;
}
.card_content .card span {
  overflow: hidden;
}
.card_content .card:hover {
  box-shadow: rgba(128, 128, 128, 0.831) 1px 15px 20px;
}
.card_content .card img {
  width: 100%;
  transition: transform 650ms ease-in-out;
}
.card_content .card img:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}
.card_content h6 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #b61984;
  margin-bottom: 0.7em;
}
.card_content h4 {
  font-size: 1.55rem;
  font-weight: 700;
  color: #181818;
}
.card_content .card-body {
  padding: 35px 0;
}

.img_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.find_right {
  padding: 0 40px;
}
.find_right .team_form {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.171) 0px 5px 20px;
  border-radius: 10px;
}
.find_right .team_form .form_all {
  padding-left: 30px;
  padding-right: 30px;
}
.find_right h1 {
  padding-top: 30px;
  margin-bottom: 65px;
  font-size: 2.5rem;
  font-weight: 700;
  color: #181818;
}
.find_right .nameInp {
  padding-right: 15px;
  position: relative;
}
.find_right .nameInp i {
  position: absolute;
  top: 15px;
  left: 8px;
  color: #b61984;
}
.find_right .mailInp {
  position: relative;
}
.find_right .mailInp i {
  position: absolute;
  top: 15px;
  left: 8px;
  color: #b61984;
}
.find_right .selInp {
  position: relative;
}
.find_right .selInp i {
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 0.8em;
  color: #b61984;
}
.find_right .textAre {
  position: relative;
}
.find_right .textAre i {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #b61984;
}
.find_right input {
  border-radius: 50px;
  padding: 1em 0 1em 2.5em;
  font-size: 0.8em;
  height: 3.7em;
  border: 1px solid rgba(0, 0, 0, 0.07);
  width: 100%;
}
.find_right input:focus {
  box-shadow: rgba(0, 0, 0, 0.171) 0px 0px 3px;
}
.find_right input:focus-visible {
  outline: none;
}
.find_right select {
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  color: #181818;
  font-size: 0.8em;
  margin: 20px 0;
  padding-left: 20px;
}
.find_right select:focus {
  box-shadow: rgba(0, 0, 0, 0.171) 0px 0px 3px;
  border: none;
}
.find_right textarea {
  padding: 1em 0.5em 1em 3.5em;
  height: 90px;
  line-height: 1.5;
  font-size: 0.8em;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  width: 100%;
}
.find_right textarea:focus {
  box-shadow: rgba(0, 0, 0, 0.171) 0px 0px 3px;
}
.find_right textarea:focus-visible {
  outline: none;
}

.find_left {
  padding-left: 80px;
}
.find_left img {
  width: 100%;
}

.teamFind {
  padding-top: 80px;
  padding-bottom: 30px;
  background: url(../img/accent_bottom_wave_01.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer_content {
  background: url(../img/footer_background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 200px;
  color: #ffffff;
  font-size: 0.9em;
}
.footer_content h2 {
  font-size: 1.55rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer_content .icon i {
  padding-right: 10px;
  font-size: 1em;
  transition: all 0.2s;
}
.footer_content .icon i:hover {
  color: #181818;
}
.footer_content .nav-link {
  padding: 0.8rem 1rem;
}
.footer_content a {
  font-size: 0.9em;
  font-weight: 600;
  color: #ffffff;
  transition: all 0.2s;
}
.footer_content a:hover {
  opacity: 0.8;
  color: #ffffff;
}
.footer_content .newsetter input {
  padding: 1em 1.5em;
  width: 100%;
  border-radius: 50px;
  text-align: center;
  background: transparent;
  color: #ffffff;
  border: none;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer_content .newsetter input #placehoder {
  color: #ffffff;
}
.footer_content .newsetter input:focus-visible {
  outline: none;
}
.footer_content .newsetter input:focus {
  border: 1px solid #ffffff;
}/*# sourceMappingURL=main.css.map */