.find_right {
    padding-right: 30px;
    .team_form {
        //background: red;
        box-shadow: rgba(0, 0, 0, 0.171) 0px 5px 20px;
        border-radius: 10px;
        .form_all {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    h1 {
        padding-top: 20px;
        margin-bottom: 40px;
        @include styleText(2.5rem,$fw-7,$color-black);
    }
    .nameInp {
        padding-right: 15px;
        position: relative;
        i {
            position: absolute;
            top: 15px;
            left: 8px;
            color: $color-violet;
        }
    }

    .mailInp {
        position: relative;
        i {
            position: absolute;
            top: 15px;
            left: 8px;
            color: $color-violet;
        } 
    }

    .selInp {
        position: relative;
        i {
            position: absolute;
            top: 10px;
            left: 5px;
            font-size: 0.8em;
            color: $color-violet;
        } 
    }

    .textAre {
        position: relative;
        i {
            position: absolute;
            top: 15px;
            left: 15px;
            color: $color-violet;
        } 
    }
    
        input {
           border-radius: 50px;
           padding: 1em 0 1em 2.5em;
           font-size: 0.8em;
           height: 3.7em;
           border: 1px solid rgba(0,0,0,.07);
           &:focus{
             box-shadow: rgba(0, 0, 0, 0.171) 0px 0px 3px;
        
           }
           &:focus-visible {
            outline: none;
           }
           
        }
        select {
           border-radius: 50px;
           border: 1px solid rgba(0,0,0,.07);
           color: $color-black;
           font-size: .8em;
           margin: 20px 0;
           padding-left: 20px;
           &:focus {
            box-shadow: rgba(0, 0, 0, 0.171) 0px 0px 3px;
            border: none;
           }
        }
        textarea {
            padding: 1em 0.5em 1em 3.5em;
            height: 90px;
            line-height: 1.5;
            font-size: .8em;
            border-radius: 20px;
            border: 1px solid rgba(0,0,0,.07);
            width: 100%;
            &:focus{
                box-shadow: rgba(0, 0, 0, 0.171) 0px 0px 3px;
           
              }
              &:focus-visible {
               outline: none;
              }
        }

}

.find_left {
    //position: absolute;

    img {
        width: 100%;
    }
}

.teamFind {
    //position: relative;
    img {
        width: 100%;
        //margin-top: -250px;
    }
}