header {
    position: absolute;
    z-index: 10;
    width: 100%;
    
}

.header_contact {
    display: flex;
    .nav-link {
        i {
            color: $color-black;
            font-size: 0.8em;
        }
        &:hover{
            i {
                @include styleTextHover($color-violet);
            }
        }   
    }  
}

.header_content{
    .navbar-nav {
        .nav-item {
            padding-right: 35px;
            transition: all 0.2s;
            &:hover {
                a {
                    @include styleTextHover($color-violet);
                }
            }
            a {
                @include styleText($fs-1, $fw-6, $color-black);
            }
        }
    }
}  

// #btn_canvas {
//     //visibility: hidden;
// }