// color 
$color-black: #181818;
$color-white: #ffffff;
$color-violet: #b61984;

//font-weight
$fw-7: 700;
$fw-4: 400;
$fw-6: 600;

//font-size:
$fs-1: 14px;
$fs-2: 1.1rem;
$fs-3: 3.8rem;
$fs-4: 0.75rem;
$fs-5: 1.55rem;

//padding
$pd-1: 50px;
$pd-2: 1.1em;
$pd-3: 1.5em;